.fullPage{
    overflow: hidden !important;
    background: #F6F7F8;
    padding: 30px;
    width:100%;
    padding-left: 40px;
    padding-bottom: 40px;
}
.change{
    color: #1794D9;
}
.formBackground{
    background: white !important;
    padding-bottom: 70px !important;
}
.row{
    padding-left: 30px;
}
button{
    width: 130px;
    border-radius: 4px;
    padding: 6px;
}
.discard{
    background: white;
    border: 1px solid #979797;
}
.save{
    background: #979797;
    color: white;
    border: 1px solid #979797;
}
.disbtn{
    width: 170px;
}