<h3>Onboarding Points</h3>
<form [formGroup]="editOnbordingPoints">
   <div class="row">
       <div class="col-4">
            <div class="form-group">
               <label>Should SMS be triggered to Employees</label><br>
               <select>
                   <option>Yes</option>
               </select>
            </div>
       </div>
       <div class="col-4">
            <div class="form-group">
               <label>If Yes, When</label><br>
               <select>
                <option>Immediately after onbording</option>
               </select>
            </div>
       </div>
       <div class="col-4">
           <div class="form-group">
              <label>Should COL be reflected on POP</label><br>
              <select>
                <option>Yes</option>
              </select>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
             <div class="form-group">
                <label>Should DOL be triggered</label><br>
                <select>
                    <option>Yes</option>
                </select>
             </div>
        </div>
        <div class="col-4">
             <div class="form-group">
                <label>Should calls go from Central Onboarding Team</label><br>
                <select>
                 <option>Yes</option>
                </select>
             </div>
        </div>
        <div class="col-4">
            <div class="form-group">
               <label>If Yes, When</label><br>
               <select>
                <option>Immediately after onbording</option>
               </select>
            </div>
        </div>
     </div>   
</form>