<div class="pageBorder">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
       <mat-expansion-panel-header class="line">
            <mat-panel-title class="mt-4">
                <h6 class="space">Client Officials (For Agreement & Renewals)</h6>
              </mat-panel-title>
              <hr>
       </mat-expansion-panel-header>
  <form [formGroup]="editEscalationMatrix" class="mt-3 space">
      <small class="level">Level 1</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div>
      <br>
      <small class="level">Level 2</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
      <!-- for second heading -->
      <h6>For Attendance Inputs & Invoicing</h6><br>
      <small class="level">Level 1</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
      <small class="level">Level 2</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
  
      <!-- third heading -->
      <h6>For PO/Workorder</h6><br>
      <small class="level">Level 1</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
      <small class="level">Level 2</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
  
      <!-- forth heading -->
      <h6>For Collection</h6><br>
      <small class="level">Level 1</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div><br>
      <small class="level">Level 2</small>
      <div class="row">
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Name</label>
                <input type="text" class="form-control mt-2" formControlName="name">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Contact Number</label>
                <input type="text" class="form-control mt-2" formControlName="contact">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group mt-4">
                <label>Email ID</label>
                <input type="text" class="form-control mt-2" formControlName="emailid">
              </div>
          </div>
      </div>
  </form>
  </mat-expansion-panel>
  </mat-accordion>
  </div>
