<div class="pageBorder">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="line">
            <mat-panel-title class="mt-4">
                <h6 class="space">Insurance Coverage</h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
<form [formGroup]="editInsuranceCoverage" class="mt-3 space">
    <div class="row">
        <div class="col-4">
            <div class="form-group mt-4">
                    <label>Group Mediclaim Coverage (GMC) Amount (Rs)</label><br>
                    <input type="text" class="form-control mt-2" formControlName="amount">
            </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                    <label>GMC given to</label><br>
                    <input type="text" class="form-control mt-2" formControlName="gmcGiven">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mt-4">
                   <label>Group Personal Accident Coverage Amount(Rs)</label><br>
                   <input type="text" class="form-control mt-2" formControlName="accidentCoverage">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group mt-4">
                    <label>Agreed Insurance Premium (In Rs./Associate/Month)</label><br>
                    <input type="text" class="form-control mt-2" formControlName="Premium">
            </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                    <label>Group Term Life Insurance (Years)</label><br>
                    <input type="text" class="form-control mt-2" formControlName="lifeInsurance">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mt-4">
                   <label>Insurance Premium Billed to</label><br>
                   <select class="mt-2">
                      <option>Client</option>
                   </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group mt-4">
                    <label>Agreed Rate (Approval will be required) (Rs)</label><br>
                    <input type="text" class="form-control mt-2" formControlName="agreedRate">
            </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                    <label>WC Policy Required</label><br>
                    <select class="mt-2">
                        <option>Client</option>
                     </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mt-4">
                   <label>Other Instructions if any</label><br>
                   <input type="text" class="form-control mt-2" formControlName="insutruction">
            </div>
        </div>
    </div>
</form>
</mat-expansion-panel>
</mat-accordion>
</div>


<!-- <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<!-- <div class="d-flex justify-content-between">
<div class="d-flex flex-column">
    <label class="summary-label">To</label>
    <div class="d-inline-block font-light-14">
        <mat-form-field class="summary-datepicker summary-dropdown" style="border: 1px solid #E0E7FF;">
            <input matInput [matDatepicker]="toPicker">
            <mat-datepicker-toggle matSuffix [for]="toPicker">
            </mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
</div> -->