<div id="wrapper">
  <div class="w-100">
    <div class="">
      <div class="col p-0">
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg border-bottom  p-0">
            <div class="container-fluid">
              <div class="header-content d-flex">
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item"><img src="./../../../assets/Q_image.png" class="q-img"  alt=""></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item "><a href="" class="tab-link nav-link">DashBoard</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item"> <a href="" class="tab-link nav-link">Client Module</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item"> <a href="" class="tab-link nav-link">Report</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav   nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item"> <a href="" class="tab-link nav-link">Settings</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Onboard a client" class="onbording">
    <app-onboard-client></app-onboard-client>
  </mat-tab>
  <mat-tab label="View Client">
    <app-view-client></app-view-client>
  </mat-tab>
  <mat-tab label="Client History">
    <app-client-history></app-client-history>
  </mat-tab>
  <mat-tab label="Due Calendar">
    <app-due-calendar></app-due-calendar>
  </mat-tab>
  <mat-tab label="Client Alerts">
    <app-client-alerts></app-client-alerts>
  </mat-tab>
</mat-tab-group>
