<mat-tab-group mat-align-tabs="start" animationDuration="0ms" class="ml-2">
  <mat-tab label="Onboard a client" class="onbording">
    <app-onboard-client></app-onboard-client>
  </mat-tab>
  <mat-tab label="View Client">
    <app-view-client></app-view-client>
  </mat-tab>
  <mat-tab label="Client History">
    <app-client-history></app-client-history>
  </mat-tab>
  <mat-tab label="Due Calendar">
    <app-due-calendar></app-due-calendar>
  </mat-tab>
  <mat-tab label="Client Alerts">
    <app-client-alerts></app-client-alerts>
  </mat-tab>
</mat-tab-group>
