<h3>Particulars</h3>
<form [formGroup]="editSpocDetails">
    <div class="row">
        <div class="col-4">
             <div class="form-group">
                <label>Sales Person Name</label><br>
                <input type="text" class="form-control" formControlName="salespersonname">
             </div>
        </div>
        <div class="col-4">
             <div class="form-group">
                <label>Contact Number</label><br>
                 <input type="text" class="form-control" formControlName="contactnumber">
             </div>
        </div>
 
        <div class="col-4">
            <div class="form-group">
               <label>Sign up location</label><br>
               <input type="text" class="form-control" formControlName="location">
            </div>
        </div>
    </div>
</form>
