<div class="heading font-medium-16">
    <span>
        <span class="cursor-pointer">Onboard a Client  / </span> <span class="edit"> Edit Onboard Client</span>
    </span>

<mat-tab-group mat-align-tabs="start" animationDuration="0ms" class="page">
    <mat-tab label="About Client">
       <app-edit-about-client></app-edit-about-client>
    </mat-tab>
    <mat-tab label="SPOC Details">
       <app-edit-spoc-detail></app-edit-spoc-detail>
    </mat-tab>
    <mat-tab label="Commercials">
       <app-edit-commercial></app-edit-commercial>
    </mat-tab>
    <mat-tab label="Payroll/Relmbursement Process">
        <app-edit-payroll></app-edit-payroll>
    </mat-tab>
    <mat-tab label="Invoicing Process">
        <app-edit-invoicing-process></app-edit-invoicing-process>
    </mat-tab>
    <mat-tab label="Salary structure data">
        <app-edit-salary-structure></app-edit-salary-structure>
    </mat-tab>
    <mat-tab label="Insurance Coverage">
        <app-edit-insurance-coverage></app-edit-insurance-coverage>
    </mat-tab>
    <mat-tab label="Contract Letter To Employees">
       <app-edit-contract-letter></app-edit-contract-letter>
    </mat-tab>
    <mat-tab label="ID Card">
        <app-edit-idcard></app-edit-idcard>
    </mat-tab>
    <mat-tab label="Onboarding Points">
       <app-edit-onboarding-points></app-edit-onboarding-points>
    </mat-tab>
    <mat-tab label="Client Escalation Matrix">
        <app-edit-escalation-matrix></app-edit-escalation-matrix>
    </mat-tab>
    <mat-tab label="Client Potential">
        <app-edit-client-potential></app-edit-client-potential>
    </mat-tab>
    <mat-tab label="Background Verification">
        <app-edit-background-verification></app-edit-background-verification>
    </mat-tab>
    <mat-tab label="Client Requirements">
        <app-edit-client-requirements></app-edit-client-requirements>
    </mat-tab>
    <mat-tab label="Important Notes">
        <app-edit-important-notes></app-edit-important-notes>
    </mat-tab>
</mat-tab-group>
</div>
