<div id="wrapper">
  <div class="w-100">
    <div class="">
      <div class="col p-0">
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg border-bottom  p-0">
            <div class="container-fluid">
              <div class="header-content d-flex">
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item  pl-4 pr-4"><a href="" class="tab-link nav-link">DashBoard</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Client Module</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Report</a></li>
                  </ul>
                </div>
                <div class="main-tabs d-flex">
                  <ul class="navbar-nav   nav ms-auto mt-2 mt-lg-0 tab-content">
                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Settings</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
