<div class="ml-2 mr-4">
  <app-onboard-client-search></app-onboard-client-search>
  <table class="table">
    <tr class="ml-3">
      <th>Organization Name</th>
      <th>Core Business line</th>
      <th>Location</th>
      <th>Legal Address</th>
      <th>Added By & On</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
    </tr>
  </table>

</div>
