table {
    border: 1px solid #C9C8C8;   
    border-radius: 16px 16px 0px 0px;
}

th.mat-header-cell{
    color:#333333;
    font-weight:800;
    background: #EFEFEF;
}

.tableAlignment{
    padding: 40px;
}