.page{
    width: 100% !important;
    // padding: 20px;
    background-color: white;
    margin-top: 30px;
    // overflow: hidden !important;
}
.edit{
  color: #1794D9;
}
.heading{
  padding: 20px;
  background: #F6F7F8;
}
.onbording{
    width: 100% !important;
}
.mat-tab-label{
    background: green;
    color:white;
  }
  ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #1794D9;
    // background-color: green;
    // border-bottom: none;
  }
//   ::ng-deep.remove-border-bottom .mat-tab-header 
// {
//     border-bottom: #1794D9;
// }

// .remove-border-bottom ::ng-deep .mat-tab-header {
//     border-bottom: none;
// }

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1794D9; // add styles properties here
  }