<mat-tab-group mat-align-tabs="start" animationDuration="0ms" class="ml-2">
    <mat-tab label="About Client" class="onbording">
       <app-about-client></app-about-client>
    </mat-tab>
    <mat-tab label="SPOC Details" class="onbording">
       <app-spoc-details></app-spoc-details>
    </mat-tab>
    <mat-tab label="Commercials" class="onbording">
       <app-commercials></app-commercials>
    </mat-tab>
    <mat-tab label="Payroll/Relmbursement Process" class="onbording">
        <app-payroll></app-payroll>
    </mat-tab>
    <mat-tab label="Invoicing Process" class="onbording">
        <app-invocing-process></app-invocing-process>
    </mat-tab>
    <mat-tab label="Salary structure data" class="onbording">
        <app-salary-structure></app-salary-structure>
    </mat-tab>
    <mat-tab label="Contract Letter To Employees" class="onbording">
        <app-contract-letter></app-contract-letter>
    </mat-tab>
    <mat-tab label="ID Card" class="onbording">
        <app-idcard></app-idcard>
    </mat-tab>
    <mat-tab label="Onboarding Points" class="onbording">
        <app-onbording-points></app-onbording-points>
    </mat-tab>
    <mat-tab label="Client Escalation Matrix" class="onbording">
        <app-escalation-matrix></app-escalation-matrix>
    </mat-tab>
    <mat-tab label="Client Potential" class="onbording">
        <app-client-potential></app-client-potential>
    </mat-tab>
    <mat-tab label="Background Verification" class="onbording">
        <app-background-verification></app-background-verification>
    </mat-tab>
    <mat-tab label="Client Requirements" class="onbording">
        <app-client-requirements></app-client-requirements>
    </mat-tab>
    <mat-tab label="Important Notes" class="onbording">
        <app-notes></app-notes>
    </mat-tab>
</mat-tab-group>
