.page-heading{
    margin-left: 40px;
    font-weight: 600;
    font-size: 18px;
}
.search-bar{
    margin-left: 20px;  
}
.statusDropDown{
    margin-left: 10px;
}
.businessDropDown{
    margin-left: 10px;
}

.filter{
   font-weight: bold; 
}