<form [formGroup]="editEscalationMatrix">
    <h3>Client Officials (For Agreement & Renewals)</h3>
    <small>Level 1</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div>
    <small>Level 2</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div><br>
    <!-- for second heading -->
    <h3>For Attendance Inputs & Invoicing</h3>
    <small>Level 1</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div>
    <small>Level 2</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div><br>

    <!-- third heading -->
    <h3>For PO/Workorder</h3>
    <small>Level 1</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div>
    <small>Level 2</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div><br>

    <!-- forth heading -->
    <h3>For Collection</h3>
    <small>Level 1</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div>
    <small>Level 2</small>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label>Email ID</label>
              <input type="text" class="form-control" formControlName="emailid">
            </div>
        </div>
    </div>
</form>
