.change{
    color: #1794D9;
}
.fullPage{
    overflow: hidden !important;
    background: #F6F7F8;
    padding: 30px;
    width:100%;
    padding-left: 40px;
    padding-bottom: 40px;
}
.details{
    padding: 20px;
}
.info{
    padding-left: 15px;
}