<div class="fullPage">
    <span>
        <span class="cursor-pointer">Onboard a Client  / </span> <span class="change"> Profile</span>
    </span>
<div class="component-wrapper">
    <div class="card mt-3 details">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 d-flex-justify-items-center">
                    <img src="../../../assets/user-icon.png" alt="">
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div>username</div>
                    <div class="mt-2">
                        <span>Email ID :</span>
                    </div>
                    <div class="mt-2">
                        <span class="ml-2">Position</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 details">
                <div class="col-5"><h4>Personal Info</h4></div>
                <div class="col-5"><h4>Job Details</h4></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>name:</p></div>
                <div class="col-2"><p>John wick</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p>Assigned Role Group:</p></div>
                <div class="col-2"><p>Finance</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>Email ID :</p></div>
                <div class="col-2"><p>johnwick.h@heptagon.in</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p>Assigned Business Types :</p></div>
                <div class="col-2"><p>General Staffing</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>Contact Number :</p></div>
                <div class="col-2"><p>9967599244</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p>Assigned Client :</p></div>
                <div class="col-2"><p>FHG Aerospace</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>Designation :</p></div>
                <div class="col-2"><p>Junior Executive</p></div>
                <div class="col-1"></div>
                <div class="col-3"><p>Assigned Location :</p></div>
                <div class="col-2"><p>Mumbai</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>Location :</p></div>
                <div class="col-2"><p>Bangalore</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>State :</p></div>
                <div class="col-2"><p>Karnataka</p></div>
            </div>
            <div class="row info">
                <div class="col-2"><p>Status :</p></div>
                <div class="col-2"><p>Active</p></div>
            </div>
        </div>
    </div>
</div>
</div>