<div class="pageBorder">
   <mat-accordion>
       <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
       <mat-expansion-panel-header class="line">
           <mat-panel-title class="mt-4">
               <h6 class="space">Agreement Details</h6>
             </mat-panel-title>
             <hr>
           </mat-expansion-panel-header>

<form [formGroup]="editCommercialDetails" class="mt-3 space">
    <div class="row">
        <div class="col-4">
             <div class="form-group mt-4">
                <label>Type of contract</label><br>
                <select class="mt-2">
                    <option>Up front</option>
                </select>
             </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                <label>Agreement Start Date</label><br>
                 <input type="text" class="form-control mt-2" formControlName="startDate">
             </div>
        </div>
 
        <div class="col-4">
            <div class="form-group mt-4">
               <label>Agreement End Date</label><br>
               <select class="mt-2">
                  <option>No End Contract</option>
               </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
             <div class="form-group mt-4">
                <label>Agreed credit days</label><br>
                <button class="yesBtn mt-2">yes</button>
                <button class="noBtn mt-2">No</button>
                <input  type="text" class="mt-2 creditDays" formControlName="creditDays">
             </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                <label>Agreement Status</label><br>
                <select class="mt-2">
                    <option>Received Both party Signed Agreement</option>
                </select> 
             </div>
        </div>
 
        <div class="col-4">
            <div class="form-group mt-4">
               <label>Replacement Clause</label><br>
               <input type="text" class="form-control mt-2" formControlName="endDate">
            </div>
        </div>
    </div>
<div class="row">
        <div class="col-4">
             <div class="form-group mt-4">
                <label>F&F Settlement</label><br>
                <select class="mt-2">
                    <option>Received Both party Signed Agreement</option>
                </select> 
             </div>
        </div>
        <div class="col-4">
             <div class="form-group mt-4">
                <label>Average Salary of Outsourced Manpower</label><br>
                <input type="text" class="form-control mt-2" formControlName="manpower">
             </div>
        </div>
 
        <div class="col-4">
            <div class="form-group mt-4">
               <label>Replacement Clause </label><br>
               <input type="text" class="form-control mt-2" formControlName="replacementClause">
            </div>
        </div>
</div>
<br>
<h6 class="mt-3">Fee details</h6>
<div class="row mt-2">
    <div class="col-4"> 
         <div class="form-group mt-4">
            <label>Service Fee</label><br>
            <input type="text" class="form-control mt-2" formControlName="serviceFee">
         </div>
    </div>
    <div class="col-4">
         <div class="form-group mt-4">
            <label>ID Card Fee</label><br>
            <input type="text" class="form-control mt-2" formControlName="idCardFee">
         </div>
    </div>

    <div class="col-4">
        <div class="form-group mt-4">
           <label>Email ID Fee</label><br>
           <input type="text" class="form-control mt-2" formControlName="emailIDFee">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
         <div class="form-group mt-4">
            <label>Uniform Fee</label><br>
            <input type="text" class="form-control mt-2" formControlName="uniformFee">
         </div>
    </div>
    <div class="col-4">
         <div class="form-group mt-4">
            <label>Absorption Fee</label><br>
            <input type="text" class="form-control mt-2" formControlName="absorptionFee">
         </div>
    </div>

    <div class="col-4">
        <div class="form-group mt-4">
           <label>Onboarding Fee(One time)</label><br>
           <input type="text" class="form-control mt-2" formControlName="onboardingFee">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
         <div class="form-group mt-4">
            <label>Sourcing Fee</label><br>
            <input type="text" class="form-control mt-2" formControlName="sourcingFee">
         </div>
    </div>
    <div class="col-4">
         <div class="form-group mt-4">
            <label>Billing Waiting Period</label><br>
            <select class="mt-2">
                <option>45 Days</option>
            </select> 
         </div>
    </div>

    <div class="col-4">
        <div class="form-group mt-4">
           <label>Other Fees</label><br>
           <input type="text" class="form-control mt-2" formControlName="otherFees">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mt-4">
         <div class="form-group">
            <label>TDS Section</label><br>
            <select class="mt-2">
                <option>194 J</option>
            </select> 
         </div>
    </div>
</div>
</form>
</mat-expansion-panel>
</mat-accordion>
</div>