<div id="wrapper">
    <div class="w-100">
        <div class="">
            <div class="col p-0">
                <div id="page-content-wrapper">
                    <!-- Top Menu-->
                    <nav class="navbar navbar-expand-lg border-bottom  p-0">
                        <div class="container-fluid">
                            <div class="header-content d-flex">
                            <div class="main-tabs d-flex">
                                <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                                    <li class="tab-item  pl-4 pr-4"><a href="" class="tab-link nav-link">DashBoard</a></li>
                                </ul>
                            </div>
                            <div class="main-tabs d-flex">
                                <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Client Module</a></li>
                                </ul>
                            </div>
                            <div class="main-tabs d-flex">
                                <ul class="navbar-nav  nav ms-auto mt-2 mt-lg-0 tab-content">
                                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Report</a></li>
                                </ul>
                            </div>
                            <div class="main-tabs d-flex">
                                <ul class="navbar-nav   nav ms-auto mt-2 mt-lg-0 tab-content">
                                    <li class="tab-item  pl-4 pr-4"> <a href="" class="tab-link nav-link">Settings</a></li>
                                </ul>
                            </div>
                            </div>
                        
                        </div>
                    </nav>

                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

<mat-tab-group mat-align-tabs="start" animationDuration="0ms" class="ml-2">
    <mat-tab label="Onboard a client" class="onbording">
        <ng-template matTabContent>
           
            <div class="form-group has-search p-0 mt-2">
                  <span class="page-heading">
                    Service Management
                  </span>
                <div class="row search-bar">
                <div class="col-4 mt-4">
                  <input type="text"  class="form-control" placeholder="Search"
                    style="border-radius: 4px;">
                   </div>
                   <span class="mt-4  col-md-1" style="width:5%; padding-top: 10px;"><span class="ml-2">Filters</span></span>
                  <div class="form-group col-md-1 mt-4 locationDropDown">
                  <select>
                    <option value="Select">Location: All</option>   
                  </select>
                  </div>
                 <div class="form-group col-md-1 mt-4 statusDropDown">
                  <select>
                    <option value="Select">Status: All</option>  
                  </select>
                  </div>
                  <div class="form-group col-md-1 mt-4 addDropDown">
                  <select>
                    <option value="Select">AddedBy: All</option>
                  </select>
                   </div>
                   <div class="form-group col-md-2 mt-4 businessDropDown">
                    <select>
                      <option value="Select">Business Types: All</option>
                    </select>
                   </div>
                  <div class="col-md-2 mt-4 createButton">
                  <button class="btn btn-primary ml-auto">
                    <span style="margin-left: 5px; font-size: 12px;">Onboard Client
                      Service</span></button>
                  </div>
            </div>
            </div>

            <table class="mt-5">
                <tr class="ml-3">
                    <th>Organization Name</th>
                    <th>Core Business line</th>
                    <th>Location</th>
                    <th>Legal Address</th>
                    <th>Added By & On</th>
                    <th style="width:10%">Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </ng-template>
        
    </mat-tab>
    <mat-tab label="View Client">Content 2 </mat-tab>
    <mat-tab label="Client History">Content 3</mat-tab>
    <mat-tab label="Due Calendar">Content 4</mat-tab>
    <mat-tab label="Client Alerts">Content 4</mat-tab>
</mat-tab-group>

<!-- <div class="fluid-container">
    <div class="tab">
        <ul>
            <li id="DashBoard">DashBoard</li>
            <li id="onclient">Client Module</li>
            <li id="Reports"> Reports</li>
            <li id="Settings">Settings</li>
        </ul>

        <div class="content">
            <div class="content-value">
                No Data Dashbord
            </div>
            <div class="content-value">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Onboard a client">Content 1</mat-tab>
                    <mat-tab label="View Client">Content 2 </mat-tab>
                    <mat-tab label="Client History">Content 3</mat-tab>
                    <mat-tab label="Due Calendar">Content 4</mat-tab>
                    <mat-tab label="Client Alerts">Content 4</mat-tab>
                </mat-tab-group>
            </div>
            <div class="content-value">
                No Data Reports
            </div>
            <div class="content-value">
                No Data Settings
            </div>
        </div>
    </div>
</div> -->