select{
    width: 350px;
}
input{
    width: 350px;
}
.pageBorder{
    border: 1px solid #CCCCCC;
    border-top: none;
}
.space{
    margin-left: 30px;
}
.mat-form-field-flex{
    border: 2px solid red;
}
.summary-datepicker{
    width: 350px;
}
.line{
    border-bottom: 1px solid #CCCCCC;
}