<h3>Payroll process</h3>
<form [formGroup]="editPayrollDetails">
    <div class="row">
        <div class="col-4">
             <div class="form-group">
                <label>Payroll Process</label><br>
                <input type="text" class="form-control" formControlName="payrollProcess">
             </div>
        </div>
        <div class="col-4">
             <div class="form-group">
                <label>Cut off date or Attendance Cycle</label><br>
               <select>
                    <option>Select</option>
               </select>
             </div>
        </div>
 
        <div class="col-4">
            <div class="form-group">
               <label>Input from Client</label><br>
               <input type="text" class="form-control" formControlName="clientInput">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label>from</label>
        </div>
    </div>
</form>